<h1 align="center">The Machine Learning (ML) Landscape</h1>

***

* What people think?
  * A robot, dependable butler or a deadly terminator.
* But, it has been around for decades in specialized applications like *Optical Character Recognition (OCR)*.
* First main application that hit the market and affected many people was *spam filter*.
* It was followed by many ML applications ranging from *Recommendations System* to *Voce Search*

## Questions, Answered in This Chapter
* What is ML?
* Why you may want to use it?

**This chapter introduces a lot of fundamental concepts that every data scientist should know by heart.**

***
> If you already know all the ML basics, you may want to skip to notes of chapter 2.
***

## What is Machine Learning?
* *From the book*:
  * Machine Learning is the science (and art) of programming computers so they can learn from data.
* *A slightly more general definition:*
  * [Machine Learning is the] field of study that gives computers the ability ti learn without being explicitly programmed. **- Arthur Samuel**
* *A more engineering-oriented one:*
  * A computer program is said to learn from *Experience E* with respect to some *Task T* and some *Performance Measure P*, if its performance on *T*, as measured by *P*, improves with experience *E*. **- Tom Mitchell**

### Example of Spam Filter
Given examples of emails, a spam filter can flag emails to *spam* or *ham*. 
The examples that the system uses to learn are called the *training set*. Each training example is called a *training instance* (or *sample*).

|Terms                 | Details                                                             |
|:---------------------|--------------------------------------------------------------------:|
| Task T               | Flag spam for new emails                                            |
| Experience E         | Training data                                                       |
| Performance Measure P| (needs to be defined) example, ratio of correctly classified emails.|

So, if you download wikipedia, you have lots of data but your system is not suddenly better at any task. Thus, its not ML.

## Why use Machine Learning?
### Traditional Approach to Spam Filtering
* First you would look at what a spam mail typically looks like and might notice words common in subject, body and sender details (like "4U", "credit card", "free" and "amazing").
* You would write detection algorithm for each patterns that you noticed.
* You would test the program and repeat steps 1 and 2 until the algorithm is good enough.

| ![the traditional approach](0101.png) |
|:--:|
| The Traditional Approach |

**Drawbacks:** 
* Long list of complex rules hard to mantain.
* Spammer notices all the mails containing "4U" is blocked he will start writing "For U" instead. Thus new rule is needed.

### Machine Learning Approach
* Study problem and send parts of mail based on study to Machine Learning algorithm.
* Test the program and repeat step 1 until the program is good enough.

| ![ml approach](0102.png) |
|:--:|
| Machine Learning Approach |

**Benefits:** 
* Shorter program that learns the desired words on its own.
* ML algorithm notices on its own that emails marked by user as spam have "For U" frequently. And thus, starts flagging those mails.
* Therefore, the ml model learns on the fly, and keeps updating itself simultaneously when the users are using it.
| ![Automatically adapting to change](0103.png) |
|:--:|
| Automatically adapting to change |

### Another Areas Where ML Shines
* Another aread where ML shines is for problems that either are too complex for traditional approaches or have no known algorithm. Example, Speech Recognition.

* ML can also help humans learn.
  * ML algorithms can be inspected to see what they have learnt (although for some algorithms this can be tricky). A spam filter can be inspected to see what words and what combinations of words it considers to be a spam. 
  * Applying ML techniques to dig into large amounts of data can help discover patterns that were not immediately apparent. This is called *data mining*.

| ![ml can help humans learn](0104.png) |
|:--:|
| Machine Learning can help humans learn |

**To summarize, ML algorithms are great for:**
* Problems for which existing solutions require a lot of hand-tuning.
* Complex problems for which there is no good solution at all using the traditional approach.
* Fluctuating environments: a ML system can adapt to new data.
* Getting insights about complex problems and large amount of data.

## Types of Machine Learning Systems
Three basis to classify Machine Learning Algorithms:

| Basis                                             | Classification                                                              
|:--------------------------------------------------|:----------------------------------------------------------------------------|
| Whether they are trained using supervision or not, basically, on the basis of the amount of supervision required for training| Supervised<br/> Unsupervised<br/> Semisupervised<br/>Reinforcement Learning |
| Whether they can learn incremently on the fly, basically, on the basis of how the ml model works on the server or at the time of production      | Online Training<br/> Batch Training                                         |
| Whether they can work by simply comparing new data points to known data points, or instead detect patterns in the data, basically, on the basis of how models learn (at the time of training)| Instance-based Learning<br/> Model Based Learning |

![TYPES OF ML ALGORITHMS AND THEIR CLASSIFICATIONS](types_of_ML-Page-2.drawio.png)

**These ideas are not exclusive you can combine them in any way you like.** Example, a spam filter may learn to fly using a deep neural network trained using examples of spam or ham. 
This makes it an online, model-based, supervised learning system.

### Supervised/Unsupervised Learning
Classification of ML algorithms based on amount and type of supervision they got during training.

#### 1. Supervised Learning
The training data you feed to the algorithm includes the desired solutions, called *labels*.

| ![A labeled training set for supervised learning](0105.png) |
|:--:|
| A labeled training set for Supervised Learning |

Two typical tasks of Supervised Learning
* *Classification*: example classify emails to spams or hams. Model is trained using data containing mails with their classes.
* *Regression*: Predicts a target numeric value, such as price of a car given a set of features (mileage, age, brand, etc.) called *predictors*. Model is trained using data containing both predictors and labels.

| ![Regression](0106.png) |
|:--:|
| Regression predict a value , given an input feature (there are usually multiple input features, and sometimes multiple output values |

***
> In ML an attribute is a data type (e.g., "Mileage") while a *feature* has several meanings depending on the context but generally means an *attribute* plus its *value* (e.g., "Mileage = 15,000"). Many people use the words *attribute* and *features* interchangeably though.
***

Note: Some Regression algorithms can be used for classification as well, and vice versa.

**Some of the important Supervised Learning Algorithms:**
* k-Nearest Neighbors (KNN)
* Linear Regression
* Logistic Regression
* Support Vector Machines (SVMs)
* Decision Trees and Random Forests
* Neural Networks (some NN architectures can be unsupervised or semi-supervised as discussed in PART2).

#### 2. Unsupervised Learning
The training data is *unlabeled*. The system tries to leearn without a teacher.

| ![An unlabeled training set for unsupervised learning](0107.png) |
|:--:|
| An unlabeled training set for unsupervised learning |

**Some of the important Unsupervised Learning Algorithms:**
* Clustering
  * k-Means
  * Heirarchical Cluster Analysis (HCA)
  * Expectation Maximization
  * DBSCAN
* Anomaly detection and novelty detection
  * One-class SVM
  * Isolation Forest
* Visualization and Dimensionality Reduction
  * Principal Components Analysis (PCA)
  * Kernel PCA
  * Locally-Linear Embedding (LLE)
  * t-distribution Stochastic Neighbor Embedding (t-SNE)
* Association Rule Learning
  * Apriori
  * Eclat

Examples
example 1. grouping together blog visitors based on the genre they like and the time of day at which they visit the blog. This is known as clustering.

| ![Clustering](0108.png) |
|:--:|
| Clustering |

example 2. Visualizing algorithms can give us insights about the data.

| ![Example of a t-SNE visualization highlighting semantic clusters](0109.png) |
|:--:|
| Example of a t-SNE visualization highlighting semantic clusters |

example 3. A related task is **dimensionality reduction**, in which the goal is simplifying the data without losing too much information. One way is to merge correlated features into one. 
This is known as **feature extraction** (making new features from old ones)

***
> It is often a good idea to try to reduce dimension of your training data using a dimensionality reduction algorithm before you feed it to another ML algorithm. It will run much faster, the data will take up less disk and memory space, and in some cases it may also perform better.
***

example 4. Another important task is *anomaly detection* - example feaud transaction detection.

| ![anomaly detection](0110.png) |
|:--:|
| Anomaly Detection |

example 5. Another common application is *association rule learning*, in which the goal is to dig deep into large data sets and discover interesting relations between attributes.

#### 3. Semisupervised Learning
Some algorithms can deal with partially labeled training data, usually a lot of unlabeled data and a little of labeled data. This is called semi-supervised learning.

| ![Semisupervised Learning](0111.png) |
|:--:|
| Semisupervised Learning |

Some photo-hosting services, such as Google Photos, are good examples of this. 
It automatically recognizes that the same person A shows up in photos 1, 5, and 11, while another person B shows up in photos 2, 5, and 7 - Clustering. 
Now the system needs you to tell it who these people are. Just one label per person, and it is able to name everyone in every photo.

Most semisupervised learning algorithms are combinations of unsupervised and supervised algorithms.

#### 4. Reinforcement Learning

The learning system, called and *agent* in this context, can observe the environment, select and perform actions, and get rewards. 
It must then learn a strategy, called a *policy*, to maximize the reward.

| ![Reinforcement Learning](0112.png) |
|:--:|
| Reinforcement Learning |

### Batch and Online Learning
Classification of ML algorithms based on whether or not the system can learn incremently from a stream of incoming data.

#### 1. Batch Learning
* In *batch learning*, the system is incapable of learning incremently. 
First the system is trained, and then it is launched into production and runs without learning anymore; it just applies what it has learned. This is called offline learning.
* If you want a batch learning system with new data, you will have to train a model offline and then replace old model  with this new model.
* Training a whole lot of data requires a lot of computing resources. If the amount of data is huge and you train from scratch every day it will cost you a lot of money. 
* If the system with limited resources needs to do learning it is very difficult to carry around large amount of data.

#### 2. Online Learning
In *online learning*, you train the system incremently by feeding data instances, either individually or by small groups called *mini-batches*. 
Each learning step is fast and cheap, so the system can learn about new data on the fly, as it arrives.

| ![Online Learning](0113.png) |
|:--:|
| Online Learning |

**Online Learning is good for system that receive continuous flow of data and requires to adapt to change abruptly. It is also a good option if you have limited computing resources.** 

**Online learning algorithms can also be used to train systems on huge datasets that cannot fit in on machine's memory (this is called *out-of-core* learning).**

| ![Using Online Learning to handle huge datasets](0114.png) |
|:--:|
| Using Online Learning to handle huge datasets |

***
> **This whole process is usually done offline (i.e., not on the live system), so online learning can be a confusing name. Think of it as incremental learning.**

***

**Learning rate**: This is an important part of Online learning systems. **It means so fast the system should adapt to data. If its too high, the system will adapt soon but will tend to forget soon too. 
If its too slow, the system won't adapt to the data.**


A big challenge with online learning is that if bad data is fed to the system, the system’s performance will gradually decline. If we are talking about a live system, your clients will notice.

#### 1. Instance-Based Learning
* The most trivial way of learning is to learn by-heart. A spam filter made this way will only flag emails which are identical or might be very similar to the once flagged by user.
* Often, to find the similarity between two images, a metric is used known as *measure of similarity*.
* So, the system learns the examples by heart and then generalizes to new cases using a similarity measure.
* basically *ratta marna*
* Ex- k-nearest neighbor, decision tree
| ![Instance-based learning](0115.png) |
|:--:|
| Instance-based learning |

#### 2. Model-Based Learning
Another way is to **generalize** from a set of examples is to build a model of these examples, then use that model to make *predictions*. This is called *model-based learning*.
* The most common learning algorithms: Linear and Polynomial Regression, Logistic Regression, k-Nearest Neighbors, Support Vector Machines, Decision Trees, Random Forests, and Ensemble methods
* Reducing the dimensionality of the training data to fight the “curse of dimensionality”
* Other unsupervised learning techniques, including clustering, density estimation, and anomaly detection Part II, Neural Networks and Deep Learning, covers the following topics:
* What neural nets are and what they’re good for building and training neural nets using TensorFlow and Keras
* The most important neural net architectures: feedforward neural nets for tabular data, convolutional nets for computer vision, recurrent nets and long short-term memory (LSTM) nets for sequence processing, encoder/decoders, and Transformers for natural language processing, autoencoders and generative adversarial networks (GANs) for generative learning
* Techniques for training deep neural nets
* How to build an agent (e.g., a bot in a game) that can learn good strategies through trial and error, using Reinforcement Learning
* Loading and preprocessing large amounts of data efficiently
Training and deploying TensorFlow models at scale
| ![Model-based learning](0116.png) |
|:--:|
| Model-based learning |

 ![differences between instance based and model based machine learning techniques](instance_vs_model_based_learning.png) 

**A concrete example is written below**

**imports**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import locale
from locale import atof
import sys

locale.setlocale(locale.LC_NUMERIC,'')
%matplotlib inline

**Data - downloading and combining**

In [2]:
bli_df = pd.read_csv(r"C:\Users\sudha\Desktop\COMPLETE_ML_DL_CONCEPTS\HandsOn_ML_CODE\CHAPTER_1\datasets\lefestats\oecd_bli_2015.csv")
bli_df.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.1,E,Estimated value
1,AUT,Austria,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.0,NaN,NaN
2,BEL,Belgium,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,2.0,NaN,NaN
3,CAN,Canada,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.2,NaN,NaN
4,CZE,Czech Republic,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.9,NaN,NaN

In [3]:
gdp_df = pd.read_csv(r"C:\Users\sudha\Desktop\COMPLETE_ML_DL_CONCEPTS\HandsOn_ML_CODE\CHAPTER_1\datasets\lefestats\gdp_per_capita2.csv" ,thousands=',',delimiter='\t',
                             encoding='latin1', na_values="n/a")
gdp_df.head()

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After
0,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",599.994,2013.0
1,Albania,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",3995.383,2010.0
2,Algeria,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",4318.135,2014.0
3,Angola,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",4100.315,2014.0
4,Antigua and Barbuda,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",14414.302,2011.0

**EXTRACT DESIRED DATA**

We want Life Satisfaction Data from Better Life Index Dataset (bli_df) and GDP per capita dataset. Let's extract them in different dataframes.

In [ ]:
def prepare_country_stats(oecd_bli, gdp_per_capita):
    oecd_bli = oecd_bli[oecd_bli["INEQUALITY"]=="TOT"]
    oecd_bli = oecd_bli.pivot(index="Country", columns="Indicator", values="Value")
    gdp_per_capita.rename(columns={"2015": "GDP per capita"}, inplace=True)
    gdp_per_capita.set_index("Country", inplace=True)
    full_country_stats = pd.merge(left=oecd_bli, right=gdp_per_capita,
                                  left_index=True, right_index=True)
    full_country_stats.sort_values(by="GDP per capita", inplace=True)
    remove_indices = [0, 1, 6, 8, 33, 34, 35]
    keep_indices = list(set(range(36)) - set(remove_indices))
    return full_country_stats[["GDP per capita", 'Life satisfaction']].iloc[keep_indices]

In [ ]:
country_stats = prepare_country_stats(bli_df, gdp_df)

In [ ]:
country_stats.head()

In [8]:
ls_df = bli_df[['Country' , 'Value']]
ls_df[(bli_df['Indicator'] == 'Life Satisfaction') & (bli_df['Inequality'] == 'Total')]

             Country  Value
0          Australia   1.10
1            Austria   1.00
2            Belgium   2.00
3             Canada   0.20
4     Czech Republic   0.90
...              ...    ...
3287         Estonia  14.43
3288          Israel  14.24
3289          Russia  14.75
3290        Slovenia  14.12
3291    OECD - Total  14.74

[3292 rows x 2 columns]

In [9]:
ls_df.head()

          Country  Value
0       Australia    1.1
1         Austria    1.0
2         Belgium    2.0
3          Canada    0.2
4  Czech Republic    0.9

In [10]:
len(ls_df)

3292

In [11]:
gdp_df = gdp_df[['Country' , '2015']]
gdp_df.head()

               Country       2015
0          Afghanistan    599.994
1              Albania   3995.383
2              Algeria   4318.135
3               Angola   4100.315
4  Antigua and Barbuda  14414.302

In [14]:
# //merging the two tables
gdp_vs_ls_df = pd.merge(gdp_df, ls_df.reset_index(drop=True), on= "Country")
gdp_vs_ls_df.head()

     Country       2015  Value
0  Australia  50961.865    1.1
1  Australia  50961.865    1.1
2  Australia  50961.865    1.1
3  Australia  50961.865   20.0
4  Australia  50961.865   20.0

In [31]:
# checking gfor null values
gdp_vs_ls_df.isna().sum()

Country    0
2015       0
Value      0
dtype: int64

#### Removing some Value
Author removed some values from the dataset. We will be removing those for consistency. To know why the book did tit go to section **Main Challenges of Machine Learning**

In [32]:
ALL_COUNTRIES = list(pd.unique(gdp_vs_ls_df['Country']))
ALL_COUNTRIES

['Australia',
 'Austria',
 'Belgium',
 'Brazil',
 'Canada',
 'Chile',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Korea',
 'Luxembourg',
 'Mexico',
 'Netherlands',
 'New Zealand',
 'Norway',
 'Poland',
 'Portugal',
 'Russia',
 'Slovak Republic',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'United Kingdom',
 'United States']

In [33]:
COUNTRIES_TO_REMOVE = ['Brazil', 'Norway', 'Switzerland' , ' Luxembourg' , 'Mexico' , 'Chile' , 'Czech Republic']